/*GENERAL*/

//
html {
    font-size: 62.5% !important;
    font-family: $font-family;
}

body {
    background-color: black;
}

* {
    color: $white;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    padding: 0;
}

a {
    color: $white;
}

h1 {
    font-size: 3.8rem;
    text-align: center;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
}

h3,
h4 {
    font-weight: 400;
    font-size: 2.2rem;
}

p {
    font-size: 1.7rem;
}

ol {
    list-style: decimal;
}

.container {
    overflow: hidden;
    padding: 2.5rem 1rem;
}

.cleaner {
    clear: both;
}

.thumb {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title-box {
    text-align: center;
    position: relative;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
    .title {
        font-family: $font-family;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.2rem;
        color: #1d1c1c;
        margin-bottom: 0.5rem;
    }
    p {
        text-transform: uppercase;
        color: #e2dfdf;
        line-height: 150%;
        font-size: 1.5rem;
        span {
            color: $beige-2;
            font-weight: 600;
        }
    }
    &:before {
        content: "";
        position: absolute;
        height: 8px;
        width: 100px;
        left: 50%;
        bottom: 0;
        margin-left: -50px;
        background-color: $red;
    }
    &.beige {
        .title {
            color: $beige;
        }
    }
}