// FUENTES
$font-family: 'Montserrat',
sans-serif;
$font-family-alt: 'Roboto',
sans-serif;
// COLORES
// Principales
$black: #000;
$white: #fff;
$white-2: #ececec;
$red: #640404;
$beige: #a87e60;
$beige-2: #70563d;
$font-grey: #2f2f2f;
// Secundarios
$grey-1: #1b1b1b;
$grey-2: #373737;
$grey-3: #545454;
$grey-4: #707070;
$grey-5: #8c8c8c;
$grey-6: #a9a9a9;